<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Exclusive Offer.....</div>
                <div class="panel-body"><img src="/assets/images/Down_South_Cover.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>Get your Haircut twice and Get Hair spa free !!!</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Hairstyles in Boom...</div>
                <div class="panel-body"><img src="/assets/images/Baishaki_Ad_Cover.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>Wear new hairstyle for real you</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Makeup</div>
                <div class="panel-body"><img src="/assets/images/Makeup.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>Shine bright like a diamond </h2>
                </div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Hair-Spa</div>
                <div class="panel-body"><img src="/assets/images/Hairspa.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>Pamper your lustrous hair with hairspa</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Best DEAL Ladies</div>
                <div class="panel-body"><img src="/assets/images/keratin treatment.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>keratin Treatment just in 2500/- Rs </h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Best Deal</div>
                <div class="panel-body"><img src="/assets/images/Haircolor.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    <h2>Hair Color & Highlights</h2>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
