<div class="container">
    <div class="row">

        <div class="col-lg-5 col-md-6">
            <div class="about-img">
                <img src='assets/images/Coiffure logo.jpg' alt="Image" width="100%" height="150%">
            </div>
        </div>

        <div class="col-lg-7 col-md-8">
            <div class="about-content">
                <h1>About Us</h1>
                <h6>
                    <p>
                      The name Coiffure became quite synonymous to the words, Hair Styling, Hair Dressing and pretty much anything related to hair. </p>


                    <p>
                        in team Coiffure is equally in love with the problem which we are trying to solve for retailers. A shared vision to uplift retailers, giving them the digital edge to compete in the e-commerce era.</p>

                    <p>all love and enjoy the traditional culture of going out shopping, exploring new shops/markets, luxuries consumption with friends and family. This is important cause each of us understands your journey right from planning to go out and buy product
                        or service, and so we are here to give you a platform to explore retail on mobile to save time and hit the right store with a great deal to save money. Making your shopping journey better. </p>

                </h6>
                <ul>
                    <li><i class="ion-android-checkmark-circle">
                        <h4>Technology</h4>
                    </i>
                    </li>
                    <li><i class="ion-android-checkmark-circle">
                        <h4> Culture</h4>
                    </i>
                    </li>
                    <li><i class="ion-android-checkmark-circle">
                        <h4>Creativity</h4>
                    </i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
